<a href="https://colab.research.google.com/github/manish7065/pyspark_practice/blob/master/pyspark_all_common.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("spark_practice").getOrCreate()

# import load the data

In [ ]:
# prompt: write code to read various file types with different delimiter options

df_csv = spark.read.format("csv").option("header", "true").option("inferSchema", "true").load("path/to/your/csv/file.csv")

df_json = spark.read.json("path/to/your/json/file.json")

df_parquet = spark.read.parquet("path/to/your/parquet/file.parquet")

df_text = spark.read.text("path/to/your/text/file.txt")

df_csv_delimiter = spark.read.format("csv").option("header", "true").option("inferSchema", "true").option("delimiter", "|").load("path/to/your/csv/file.csv")

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!ls

drive  sample_data

In [ ]:
file_path = "/content/drive/MyDrive/Colab Notebooks/data/Income Qualification/train.csv"
df = spark.read.csv(file_path,inferSchema=True,header=True)
df.show()

+------------+--------+------+-----+------+----+------+----+-----+----+----+----+----+----+----+----+----+----+------+------+--------+-------+------+-----------+-----------+---------+--------+--------+---------+-----------+----------+----------+-----------+---------+---------+-----------+----------+---------+--------------+---------+---------+---------+---------------+--------------+-----------+------+-------+------+-------+----------+----------+----------+----------+----------+-------------+-------------+-------------+-------------+---------+---------+---------+---------+---------+---------+-------+-------+-------+-------+-------+-------+-----+-----+-----+---+----+------+------------+------------+------------+------------+------------+------------+------------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+------------+------------+------------+---------+---------+----------+-----------+-----------+----------+------+------+--------+----------+----------+----------+----------+----------+----------+----------+----------+----------+--------+------------+---------+---------+---------+---------+---------+--------+----------+-----------+------------+------+------+------+------+------+------+-----+-----+---+-----------+------+--------------+---------+------------+------------------+-------------+---------+-----+------+
|          Id|    v2a1|hacdor|rooms|hacapo|v14a|refrig|v18q|v18q1|r4h1|r4h2|r4h3|r4m1|r4m2|r4m3|r4t1|r4t2|r4t3|tamhog|tamviv|escolari|rez_esc|hhsize|paredblolad|paredzocalo|paredpreb|pareddes|paredmad|paredzinc|paredfibras|paredother|pisomoscer|pisocemento|pisoother|pisonatur|pisonotiene|pisomadera|techozinc|techoentrepiso|techocane|techootro|cielorazo|abastaguadentro|abastaguafuera|abastaguano|public|planpri|noelec|coopele|sanitario1|sanitario2|sanitario3|sanitario5|sanitario6|energcocinar1|energcocinar2|energcocinar3|energcocinar4|elimbasu1|elimbasu2|elimbasu3|elimbasu4|elimbasu5|elimbasu6|epared1|epared2|epared3|etecho1|etecho2|etecho3|eviv1|eviv2|eviv3|dis|male|female|estadocivil1|estadocivil2|estadocivil3|estadocivil4|estadocivil5|estadocivil6|estadocivil7|parentesco1|parentesco2|parentesco3|parentesco4|parentesco5|parentesco6|parentesco7|parentesco8|parentesco9|parentesco10|parentesco11|parentesco12|  idhogar|hogar_nin|hogar_adul|hogar_mayor|hogar_total|dependency|edjefe|edjefa|meaneduc|instlevel1|instlevel2|instlevel3|instlevel4|instlevel5|instlevel6|instlevel7|instlevel8|instlevel9|bedrooms|overcrowding|tipovivi1|tipovivi2|tipovivi3|tipovivi4|tipovivi5|computer|television|mobilephone|qmobilephone|lugar1|lugar2|lugar3|lugar4|lugar5|lugar6|area1|area2|age|SQBescolari|SQBage|SQBhogar_total|SQBedjefe|SQBhogar_nin|   SQBovercrowding|SQBdependency|SQBmeaned|agesq|Target|
+------------+--------+------+-----+------+----+------+----+-----+----+----+----+----+----+----+----+----+----+------+------+--------+-------+------+-----------+-----------+---------+--------+--------+---------+-----------+----------+----------+-----------+---------+---------+-----------+----------+---------+--------------+---------+---------+---------+---------------+--------------+-----------+------+-------+------+-------+----------+----------+----------+----------+----------+-------------+-------------+-------------+-------------+---------+---------+---------+---------+---------+---------+-------+-------+-------+-------+-------+-------+-----+-----+-----+---+----+------+------------+------------+------------+------------+------------+------------+------------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+------------+------------+------------+---------+---------+----------+-----------+-----------+----------+------+------+--------+----------+----------+----------+----------+----------+----------+----------+----------+----------+--------+------------+---------+---------+---------+---------+---------+--------+----------+-----------+------------+------+------+------+------+------+------+-----+-----+---+-----------+------+--------------+---------+------------+------------------+-------------+---------+-----+------+
|ID_279628684|190000.0|     0|    3|     0|   1|     1|   0| NULL|   0|   1|   1|   0|   0|   0|   0|   1|   1|     1|     1|      10|   NULL|     1|          1|          0|        0|       0|       0|        0|          0|         0|         1|          0|        0|        0|          0|         0|        0|             1|        0|        0|        1|              1|             0|          0|     1|      0|     0|      0|         0|         1|         0|         0|         0|            0|            0|            1|            0|        1|        0|        0|        0|        0|        0|      0|      1|      0|      1|      0|      0|    1|    0|    0|  0|   1|     0|           0|           0|           0|           1|           0|           0|           0|          1|          0|          0|          0|          0|          0|          0|          0|          0|           0|           0|           0|21eb7fcc1|        0|         1|          0|          1|        no|    10|    no|    10.0|         0|         0|         0|         1|         0|         0|         0|         0|         0|       1|         1.0|        0|        0|        1|        0|        0|       0|         0|          1|           1|     1|     0|     0|     0|     0|     0|    1|    0| 43|        100|  1849|             1|      100|           0|               1.0|          0.0|    100.0| 1849|     4|
|ID_f29eb3ddd|135000.0|     0|    4|     0|   1|     1|   1|    1|   0|   1|   1|   0|   0|   0|   0|   1|   1|     1|     1|      12|   NULL|     1|          0|          0|        0|       0|       1|        0|          0|         0|         0|          0|        0|        0|          0|         1|        1|             0|        0|        0|        1|              1|             0|          0|     1|      0|     0|      0|         0|         1|         0|         0|         0|            0|            1|            0|            0|        1|        0|        0|        0|        0|        0|      0|      1|      0|      0|      1|      0|    0|    1|    0|  0|   1|     0|           0|           0|           0|           1|           0|           0|           0|          1|          0|          0|          0|          0|          0|          0|          0|          0|           0|           0|           0|0e5d7a658|        0|         1|          1|          1|         8|    12|    no|    12.0|         0|         0|         0|         0|         0|         0|         0|         1|         0|       1|         1.0|        0|        0|        1|        0|        0|       0|         0|          1|           1|     1|     0|     0|     0|     0|     0|    1|    0| 67|        144|  4489|             1|      144|           0|               1.0|         64.0|    144.0| 4489|     4|
|ID_68de51c94|    NULL|     0|    8|     0|   1|     1|   0| NULL|   0|   0|   0|   0|   1|   1|   0|   1|   1|     1|     1|      11|   NULL|     1|          0|          0|        0|       0|       1|        0|          0|         0|         1|          0|        0|        0|          0|         0|        1|             0|        0|        0|        1|              1|             0|          0|     1|      0|     0|      0|         0|         1|         0|         0|         0|            0|            1|            0|            0|        1|        0|        0|        0|        0|        0|      0|      1|      0|      0|      0|      1|    0|    0|    1|  1|   0|     1|           0|           0|           0|           0|           0|           1|           0|          1|          0|          0|          0|          0|          0|          0|          0|          0|           0|           0|           0|2c7317ea8|        0|         1|          1|          1|         8|    no|    11|    11.0|         0|         0|         0|         0|         1|         0|         0|         0|         0|       2|         0.5|        1|        0|        0|        0|        0|       0|         0|          0|           0|     1|     0|     0|     0|     0|     0|    1|    0| 92|        121|  8464|             1|        0|           0|              0.25|         64.0|    121.0| 8464|     4|
|ID_d671db89c|180000.0|     0|    5|     0|   1|     1|   1|    1|   0|   2|   2|   1|   1|   2|   1|   3|   4|     4|     4|       9|      1|     4|          1|          0|        0|       0|       0|        0|          0|         0|         1|          0|        0|        0|          0|         0|        1|             0|        0|        0|        1|              1|             0|          0|     1|      0|     0|      0|         0|         1|         0|         0|         0|            0|            1|            0|            0|        1|        0|        0|        0|        0|        0|      0|      0|      1|      0|      0|      1|    0|    0|    1|  0|   1|     0|           0|           0|           0|           0|           0|           0|           1|          0|          0|          1|          0|          0|          0|          0|          0|          0|           0|           0|           0|2b58d945f|        2|         2|          0|          4|       yes|    11|    no|    11.0|         0|         0|         0|         1|         0|         0|         0|         0|         0|       3|   1.3333334|        0|        0|        1|        0|        0|       0|         0|          1|           3|     1|     0|     0|     0|     0|     0|    1|    0| 17|         81|   289|            16|      121|           4|1.7777778999999998|          1.0|    121.0|  289|     4|
|ID_d56d6f5f5|180000.0|     0|    5|     0|   1|     1|   1|    1|   0|   2|   2|   1|   1|   2|   1|   3|   4|     4|     4|      11|   NULL|     4|          1|          0|        0|       0|       0|        0|          0|         0|         1|          0|        0|        0|          0|         0|        1|             0|        0|        0|        1|              1|             0|          0|     1|      0|     0|      0|         0|         1|         0|         0|         0|            0|            1|            0|            0|        1|        0|        0|        0|        0|        0|      0|      0|      1|      0|      0|      1|    0|    0|    1|  0|   0|     1|           0|           1|           0|           0|           0|           0|           0|          0|          1|          0|          0|          0|          0|          0|          0|          0|           0|           0|           0|2b58d945f|        2|         2|          0|          4|       yes|    11|    no|    11.0|         0|         0|         0|         0|         1|         0|         0|         0|         0|       3|   1.3333334|        0|        0|        1|        0|        0|       0|         0|          1|           3|     1|     0|     0|     0|     0|     0|    1|    0| 37|        121|  1369|            16|      121|           4|1.7777778999999998|          1.0|    121.0| 1369|     4|
|ID_ec05b1a7b|180000.0|     0|    5|     0|   1|     1|   1|    1|   0|   2|   2|   1|   1|   2|   1|   3|   4|     4|     4|      11|   NULL|     4|          1|          0|        0|       0|       0|        0|          0|         0|         1|          0|        0|        0|          0|         0|        1|             0|        0|        0|        1|              1|             0|          0|     1|      0|     0|      0|         0|         1|         0|         0|         0|            0|            1|            0|            0|        1|        0|        0|        0|        0|        0|      0|      0|      1|      0|      0|      1|    0|    0|    1|  0|   1|     0|           0|           1|           0|           0|           0|           0|           0|          1|          0|          0|          0|          0|          0|          0|          0|          0|           0|           0|           0|2b58d945f|        2|         2|          0|          4|       yes|    11|    no|    11.0|         0|         0|         0|         0|         1|         0|         0|         0|         0|       3|   1.3333334|        0|        0|        1|        0|        0|       0|         0|          1|           3|     1|     0|     0|     0|     0|     0|    1|    0| 38|        121|  1444|            16|      121|           4|1.7777778999999998|          1.0|    121.0| 1444|     4|
|ID_e9e0c1100|180000.0|     0|    5|     0|   1|     1|   1|    1|   0|   2|   2|   1|   1|   2|   1|   3|   4|     4|     4|       2|      0|     4|          1|          0|        0|       0|       0|        0|          0|         0|         1|          0|        0|        0|          0|         0|        1|             0|        0|        0|        1|              1|             0|          0|     1|      0|     0|      0|         0|         1|         0|         0|         0|            0|            1|            0|            0|        1|        0|        0|        0|        0|        0|      0|      0|      1|      0|      0|      1|    0|    0|    1|  0|   0|     1|           1|           0|           0|           0|           0|           0|           0|          0|          0|          1|          0|          0|          0|          0|          0|          0|           0|           0|           0|2b58d945f|        2|         2|          0|          4|       yes|    11|    no|    11.0|         0|         1|         0|         0|         0|         0|         0|         0|         0|       3|   1.3333334|        0|        0|        1|        0|        0|       0|         0|          1|           3|     1|     0|     0|     0|     0|     0|    1|    0|  8|          4|    64|            16|      121|           4|1.7777778999999998|          1.0|    121.0|   64|     4|
|ID_3e04e571e|130000.0|     1|    2|     0|   1|     1|   0| NULL|   0|   1|   1|   2|   1|   3|   2|   2|   4|     4|     4|       0|      0|     4|          1|          0|        0|       0|       0|        0|          0|         0|         1|          0|        0|        0|          0|         0|        1|             0|        0|        0|        1|              1|             0|          0|     1|      0|     0|      0|         0|         1|         0|         0|         0|            0|            0|            1|            0|        1|        0|        0|        0|        0|        0|      1|      0|      0|      1|      0|      0|    0|    1|    0|  0|   0|     1|           1|           0|           0|           0|           0|           0|           0|          0|          0|          1|          0|          0|          0|          0|          0|          0|           0|           0|           0|d6dae86b7|        2|         2|          0|          4|       yes|     9|    no|    10.0|         1|         0|         0|         0|         0|         0|         0|         0|         0|       1|         4.0|        0|        0|        1|        0|        0|       0|         0|          1|           1|     1|     0|     0|     0|     0|     0|    1|    0|  7|          0|    49|            16|       81|           4|              16.0|          1.0|    100.0|   49|     4|
|ID_1284f8aad|130000.0|     1|    2|     0|   1|     1|   0| NULL|   0|   1|   1|   2|   1|   3|   2|   2|   4|     4|     4|       9|   NULL|     4|          1|          0|        0|       0|       0|        0|          0|         0|         1|          0|        0|        0|          0|         0|        1|             0|        0|        0|        1|              1|             0|          0|     1|      0|     0|      0|         0|         1|         0|         0|         0|            0|            0|            1|            0|        1|        0|        0|        0|        0|        0|      1|      0|      0|      1|      0|      0|    0|    1|    0|  0|   1|     0|           0|           1|           0|           0|           0|           0|           0|          1|          0|          0|          0|          0|          0|          0|          0|          0|           0|           0|           0|d6dae86b7|        2|         2|          0|          4|       yes|     9|    no|    10.0|         0|         0|         0|         1|         0|         0|         0|         0|         0|       1|         4.0|        0|        0|        1|        0|        0|       0|         0|          1|           1|     1|     0|     0|     0|     0|     0|    1|    0| 30|         81|   900|            16|       81|           4|              16.0|          1.0|    100.0|  900|     4|
|ID_51f52fdd2|130000.0|     1|    2|     0|   1|     1|   0| NULL|   0|   1|   1|   2|   1|   3|   2|   2|   4|     4|     4|      11|   NULL|     4|          1|          0|        0|       0|       0|        0|          0|         0|         1|          0|        0|        0|          0|         0|        1|             0|        0|        0|        1|              1|             0|          0|     1|      0|     0|      0|         0|         1|         0|         0|         0|            0|            0|            1|            0|        1|        0|        0|        0|        0|        0|      1|      0|      0|      1|      0|      0|    0|    1|    0|  0|   0|     1|           0|           1|           0|           0|           0|           0|           0|          0|          1|          0|          0|          0|          0|          0|          0|          0|           0|           0|           0|d6dae86b7|        2|         2|          0|          4|       yes|     9|    no|    10.0|         0|         0|         0|         0|         1|         0|         0|         0|         0|       1|         4.0|        0|        0|        1|        0|        0|       0|         0|          1|           1|     1|     0|     0|     0|     0|     0|    1|    0| 28|        121|   784|            16|       81|           4|              16.0|          1.0|    100.0|  784|     4|
|ID_db44f5c59|130000.0|     1|    2|     0|   1|     1|   0| NULL|   0|   1|   1|   2|   1|   3|   2|   2|   4|     4|     4|       3|      1|     4|          1|          0|        0|       0|       0|        0|          0|         0|         1|          0|        0|        0|          0|         0|        1|             0|        0|        0|        1|              1|             0|          0|     1|      0|     0|      0|         0|         1|         0|         0|         0|            0|            0|            1|            0|        1|        0|        0|        0|        0|        0|      1|      0|      0|      1|      0|      0|    0|    1|    0|  0|   0|     1|           0|           0|           0|           0|           0|           0|           1|          0|          0|          1|          0|          0|          0|          0|          0|          0|           0|           0|           0|d6dae86b7|        2|         2|          0|          4|       yes|     9|    no|    10.0|         0|         1|         0|         0|         0|         0|         0|         0|         0|       1|         4.0|        0|        0|        1|        0|        0|       0|         0|          1|           1|     1|     0|     0|     0|     0|     0|    1|    0| 11|          9|   121|            16|       81|           4|              16.0|          1.0|    100.0|  121|     4|

# pipe delimeted data reading

In [ ]:
file_path = "/content/employee_pipe_delimeted.csv"
df = spark.read.format("csv").option("header", "true").option("inferSchema", "true").option("delimiter", "|").load(file_path)
df.show()

+------+-------------------+------+
|emp_id|           emp_name|salary|
+------+-------------------+------+
|     1|           John Doe|  5000|
|     2|         Jane Smith|  7000|
|     3|    Michael Johnson|  8000|
|     4|        Emily Davis|  6000|
|     5|      William Brown|  9000|
|     6|       Linda Wilson|  5500|
|     7|      Richard Moore|  7500|
|     8|     Jessica Taylor|  8500|
|     9|   Charles Anderson|  6500|
|    10|    Patricia Thomas|  7200|
|    11|Christopher Jackson|  5400|
|    12|        Susan White|  8100|
|    13|      Daniel Harris|  6600|
|    14|       Sarah Martin|  7700|
|    15|      Paul Thompson|  8800|
|    16|       Karen Garcia|  6900|
|    17|      Mark Martinez|  5800|
|    18|     Nancy Robinson|  6200|
|    19|       George Clark|  7000|
|    20|   Sandra Rodriguez|  6300|
+------+-------------------+------+

# Custom Schema Data Frame

In [ ]:
# prompt: write a code to create a custome schema for a dataset n pyspark

from pyspark.sql.types import StructType, StructField, IntegerType, StringType

data = [
    (1, "Alice", 25),
    (2, "Bob", 30),
    (3, "Charlie", 28)
]

# Define the schema
schema = StructType([
    StructField("id", IntegerType(), True),
    StructField("name", StringType(), True),
    StructField("age", IntegerType(), True)
])

# Create a DataFrame with the custom schema
df_custom_schema = spark.createDataFrame(data, schema)

# Show the DataFrame
df_custom_schema.show()

+---+-------+---+
| id|   name|age|
+---+-------+---+
|  1|  Alice| 25|
|  2|    Bob| 30|
|  3|Charlie| 28|
+---+-------+---+

# selecting a column

In [ ]:
#selecting a column
df.select("emp_id").show()

+------+
|emp_id|
+------+
|     1|
|     2|
|     3|
|     4|
|     5|
|     6|
|     7|
|     8|
|     9|
|    10|
|    11|
|    12|
|    13|
|    14|
|    15|
|    16|
|    17|
|    18|
|    19|
|    20|
+------+

# filter on the basis of codition

In [ ]:
df.filter("salary > 6500").show()

+------+---------------+------+
|emp_id|       emp_name|salary|
+------+---------------+------+
|     2|     Jane Smith|  7000|
|     3|Michael Johnson|  8000|
|     5|  William Brown|  9000|
|     7|  Richard Moore|  7500|
|     8| Jessica Taylor|  8500|
|    10|Patricia Thomas|  7200|
|    12|    Susan White|  8100|
|    13|  Daniel Harris|  6600|
|    14|   Sarah Martin|  7700|
|    15|  Paul Thompson|  8800|
|    16|   Karen Garcia|  6900|
|    19|   George Clark|  7000|
+------+---------------+------+

# executing SQL querry in pyspark

In [ ]:
# prompt: write code all the methods to execute sql querry in pyspark

# Register the DataFrame as a temporary view
df.createOrReplaceTempView("employees")

# Method 1: Using spark.sql()
result1 = spark.sql("SELECT * FROM employees WHERE salary > 6500")
result1.show()

# Method 2: Using SQLTransformer
from pyspark.ml.feature import SQLTransformer
sqlTrans = SQLTransformer(statement="SELECT * FROM employees WHERE salary > 6500")
result2 = sqlTrans.transform(df)
result2.show()

+------+---------------+------+
|emp_id|       emp_name|salary|
+------+---------------+------+
|     2|     Jane Smith|  7000|
|     3|Michael Johnson|  8000|
|     5|  William Brown|  9000|
|     7|  Richard Moore|  7500|
|     8| Jessica Taylor|  8500|
|    10|Patricia Thomas|  7200|
|    12|    Susan White|  8100|
|    13|  Daniel Harris|  6600|
|    14|   Sarah Martin|  7700|
|    15|  Paul Thompson|  8800|
|    16|   Karen Garcia|  6900|
|    19|   George Clark|  7000|
+------+---------------+------+

+------+---------------+------+
|emp_id|       emp_name|salary|
+------+---------------+------+
|     2|     Jane Smith|  7000|
|     3|Michael Johnson|  8000|
|     5|  William Brown|  9000|
|     7|  Richard Moore|  7500|
|     8| Jessica Taylor|  8500|
|    10|Patricia Thomas|  7200|
|    12|    Susan White|  8100|
|    13|  Daniel Harris|  6600|
|    14|   Sarah Martin|  7700|
|    15|  Paul Thompson|  8800|
|    16|   Karen Garcia|  6900|
|    19|   George Clark|  7000|
+------+---------------+------+

# Joins in pyspark

In [ ]:
# How to inner join two datasets
df_from_csv.join(df_from_json, on="id", how="inner")

# How to outer datasets
df_from_json.join(df_from_parquet, on="product_id", how="outer")

In [ ]:
# prompt: write down codes to perform all the type of joins in pyspark

# Assuming 'df1' and 'df2' are your DataFrames to join

# Inner Join
inner_join_df = df1.join(df2, df1.id == df2.id, "inner")
inner_join_df.show()

# Outer (Full) Join
outer_join_df = df1.join(df2, df1.id == df2.id, "outer")
outer_join_df.show()

# Left (Left Outer) Join
left_join_df = df1.join(df2, df1.id == df2.id, "left")
left_join_df.show()

# Right (Right Outer) Join
right_join_df = df1.join(df2, df1.id == df2.id, "right")
right_join_df.show()

In [ ]:
# prompt: perform all the above joint by taking a demo data

from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("JoinsDemo").getOrCreate()

# Sample data for DataFrames
data1 = [
    (1, "Alice", 25),
    (2, "Bob", 30),
    (3, "Charlie", 28)
]

data2 = [
    (1, "Sales"),
    (2, "Marketing"),
    (4, "Engineering")
]

schema1 = StructType([
    StructField("id", IntegerType(), True),
    StructField("name", StringType(), True),
    StructField("age", IntegerType(), True)
])

schema2 = StructType([
    StructField("id", IntegerType(), True),
    StructField("department", StringType(), True)
])

df1 = spark.createDataFrame(data1, schema1)
df2 = spark.createDataFrame(data2, schema2)

# Inner Join
inner_join_df = df1.join(df2, df1.id == df2.id, "inner")
inner_join_df.show()

# Outer (Full) Join
outer_join_df = df1.join(df2, df1.id == df2.id, "outer")
outer_join_df.show()

# Left (Left Outer) Join
left_join_df = df1.join(df2, df1.id == df2.id, "left")
left_join_df.show()

# Right (Right Outer) Join
right_join_df = df1.join(df2, df1.id == df2.id, "right")
right_join_df.show()

spark.stop()

+---+-----+---+---+----------+
| id| name|age| id|department|
+---+-----+---+---+----------+
|  1|Alice| 25|  1|     Sales|
|  2|  Bob| 30|  2| Marketing|
+---+-----+---+---+----------+

+----+-------+----+----+-----------+
|  id|   name| age|  id| department|
+----+-------+----+----+-----------+
|   1|  Alice|  25|   1|      Sales|
|   2|    Bob|  30|   2|  Marketing|
|   3|Charlie|  28|NULL|       NULL|
|NULL|   NULL|NULL|   4|Engineering|
+----+-------+----+----+-----------+

+---+-------+---+----+----------+
| id|   name|age|  id|department|
+---+-------+---+----+----------+
|  1|  Alice| 25|   1|     Sales|
|  3|Charlie| 28|NULL|      NULL|
|  2|    Bob| 30|   2| Marketing|
+---+-------+---+----+----------+

+----+-----+----+---+-----------+
|  id| name| age| id| department|
+----+-----+----+---+-----------+
|   1|Alice|  25|  1|      Sales|
|NULL| NULL|NULL|  4|Engineering|
|   2|  Bob|  30|  2|  Marketing|
+----+-----+----+---+-----------+

# Missing Data Handling

In [ ]:
# prompt: write down code for all the methods to deal with the missing data in pyspark

from pyspark.sql import SparkSession
from pyspark.sql.functions import col, when, mean

# Sample data with missing values
data = [
    (1, "Alice", 25),
    (2, "Bob", None),
    (3, None, 28),
    (4, "David", 32),
    (5, "Emily", None)
]

schema = StructType([
    StructField("id", IntegerType(), True),
    StructField("name", StringType(), True),
    StructField("age", IntegerType(), True)
])

spark = SparkSession.builder.appName("MissingDataHandling").getOrCreate()
df = spark.createDataFrame(data, schema)

# 1. Drop rows with missing values
df_dropped = df.na.drop()
df_dropped.show()

# 2. Fill missing values with a constant
df_filled_constant = df.na.fill({"age": 0, "name": "Unknown"})
df_filled_constant.show()

# 3. Fill missing values with mean
mean_age = df.select(mean(col("age"))).collect()[0][0]
df_filled_mean = df.na.fill({"age": mean_age})
df_filled_mean.show()

# 4. Replace missing values using a conditional expression
df_replaced = df.withColumn("age", when(col("age").isNull(), 0).otherwise(col("age")))
df_replaced.show()

spark.stop()

+---+-----+---+
| id| name|age|
+---+-----+---+
|  1|Alice| 25|
|  4|David| 32|
+---+-----+---+

+---+-------+---+
| id|   name|age|
+---+-------+---+
|  1|  Alice| 25|
|  2|    Bob|  0|
|  3|Unknown| 28|
|  4|  David| 32|
|  5|  Emily|  0|
+---+-------+---+

+---+-----+---+
| id| name|age|
+---+-----+---+
|  1|Alice| 25|
|  2|  Bob| 28|
|  3| NULL| 28|
|  4|David| 32|
|  5|Emily| 28|
+---+-----+---+

+---+-----+---+
| id| name|age|
+---+-----+---+
|  1|Alice| 25|
|  2|  Bob|  0|
|  3| NULL| 28|
|  4|David| 32|
|  5|Emily|  0|
+---+-----+---+

# finding out the missing data

In [ ]:
# prompt: write the code to find the missing values column wise

from pyspark.sql.functions import col,isnan, when, count
# Assuming 'df' is your DataFrame

# Iterate over columns and count missing values
for column in df.columns:
    missing_count = df.filter(col(column).isNull() | isnan(col(column))).count()
    print(f"Missing values in column '{column}': {missing_count}")

Missing values in column 'Id': 0
Missing values in column 'v2a1': 6860
Missing values in column 'hacdor': 0
Missing values in column 'rooms': 0
Missing values in column 'hacapo': 0
Missing values in column 'v14a': 0
Missing values in column 'refrig': 0
Missing values in column 'v18q': 0
Missing values in column 'v18q1': 7342
Missing values in column 'r4h1': 0
Missing values in column 'r4h2': 0
Missing values in column 'r4h3': 0
Missing values in column 'r4m1': 0
Missing values in column 'r4m2': 0
Missing values in column 'r4m3': 0
Missing values in column 'r4t1': 0
Missing values in column 'r4t2': 0
Missing values in column 'r4t3': 0
Missing values in column 'tamhog': 0
Missing values in column 'tamviv': 0
Missing values in column 'escolari': 0
Missing values in column 'rez_esc': 7928
Missing values in column 'hhsize': 0
Missing values in column 'paredblolad': 0
Missing values in column 'paredzocalo': 0
Missing values in column 'paredpreb': 0
Missing values in column 'pareddes': 0
Missing values in column 'paredmad': 0
Missing values in column 'paredzinc': 0
Missing values in column 'paredfibras': 0
Missing values in column 'paredother': 0
Missing values in column 'pisomoscer': 0
Missing values in column 'pisocemento': 0
Missing values in column 'pisoother': 0
Missing values in column 'pisonatur': 0
Missing values in column 'pisonotiene': 0
Missing values in column 'pisomadera': 0
Missing values in column 'techozinc': 0
Missing values in column 'techoentrepiso': 0
Missing values in column 'techocane': 0
Missing values in column 'techootro': 0
Missing values in column 'cielorazo': 0
Missing values in column 'abastaguadentro': 0
Missing values in column 'abastaguafuera': 0
Missing values in column 'abastaguano': 0
Missing values in column 'public': 0
Missing values in column 'planpri': 0
Missing values in column 'noelec': 0
Missing values in column 'coopele': 0
Missing values in column 'sanitario1': 0
Missing values in column 'sanitario2': 0
Missing values in column 'sanitario3': 0
Missing values in column 'sanitario5': 0
Missing values in column 'sanitario6': 0
Missing values in column 'energcocinar1': 0
Missing values in column 'energcocinar2': 0
Missing values in column 'energcocinar3': 0
Missing values in column 'energcocinar4': 0
Missing values in column 'elimbasu1': 0
Missing values in column 'elimbasu2': 0
Missing values in column 'elimbasu3': 0
Missing values in column 'elimbasu4': 0
Missing values in column 'elimbasu5': 0
Missing values in column 'elimbasu6': 0
Missing values in column 'epared1': 0
Missing values in column 'epared2': 0
Missing values in column 'epared3': 0
Missing values in column 'etecho1': 0
Missing values in column 'etecho2': 0
Missing values in column 'etecho3': 0
Missing values in column 'eviv1': 0
Missing values in column 'eviv2': 0
Missing values in column 'eviv3': 0
Missing values in column 'dis': 0
Missing values in column 'male': 0
Missing values in column 'female': 0
Missing values in column 'estadocivil1': 0
Missing values in column 'estadocivil2': 0
Missing values in column 'estadocivil3': 0
Missing values in column 'estadocivil4': 0
Missing values in column 'estadocivil5': 0
Missing values in column 'estadocivil6': 0
Missing values in column 'estadocivil7': 0
Missing values in column 'parentesco1': 0
Missing values in column 'parentesco2': 0
Missing values in column 'parentesco3': 0
Missing values in column 'parentesco4': 0
Missing values in column 'parentesco5': 0
Missing values in column 'parentesco6': 0
Missing values in column 'parentesco7': 0
Missing values in column 'parentesco8': 0
Missing values in column 'parentesco9': 0
Missing values in column 'parentesco10': 0
Missing values in column 'parentesco11': 0
Missing values in column 'parentesco12': 0
Missing values in column 'idhogar': 0
Missing values in column 'hogar_nin': 0
Missing values in column 'hogar_adul': 0
Missing values in column 'hogar_mayor': 0
Missing values in column 'hogar_total': 0
Missing values in column 'dependency': 0
Missing values in column 'edjefe': 0
Missing values in column 'edjefa': 0
Missing values in column 'meaneduc': 5
Missing values in column 'instlevel1': 0
Missing values in column 'instlevel2': 0
Missing values in column 'instlevel3': 0
Missing values in column 'instlevel4': 0
Missing values in column 'instlevel5': 0
Missing values in column 'instlevel6': 0
Missing values in column 'instlevel7': 0
Missing values in column 'instlevel8': 0
Missing values in column 'instlevel9': 0
Missing values in column 'bedrooms': 0
Missing values in column 'overcrowding': 0
Missing values in column 'tipovivi1': 0
Missing values in column 'tipovivi2': 0
Missing values in column 'tipovivi3': 0
Missing values in column 'tipovivi4': 0
Missing values in column 'tipovivi5': 0
Missing values in column 'computer': 0
Missing values in column 'television': 0
Missing values in column 'mobilephone': 0
Missing values in column 'qmobilephone': 0
Missing values in column 'lugar1': 0
Missing values in column 'lugar2': 0
Missing values in column 'lugar3': 0
Missing values in column 'lugar4': 0
Missing values in column 'lugar5': 0
Missing values in column 'lugar6': 0
Missing values in column 'area1': 0
Missing values in column 'area2': 0
Missing values in column 'age': 0
Missing values in column 'SQBescolari': 0
Missing values in column 'SQBage': 0
Missing values in column 'SQBhogar_total': 0
Missing values in column 'SQBedjefe': 0
Missing values in column 'SQBhogar_nin': 0
Missing values in column 'SQBovercrowding': 0
Missing values in column 'SQBdependency': 0
Missing values in column 'SQBmeaned': 5
Missing values in column 'agesq': 0
Missing values in column 'Target': 0

# Optimization in pyspark

## Broadcast Joint

Problem Statement: Joining a large dataset with a smaller dataset can be slow due to the shuffle operation.

Solution: Use broadcast join to broadcast the smaller dataset to all nodes, avoiding the shuffle.

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import broadcast

spark = SparkSession.builder.appName("BroadcastJoin").getOrCreate()

large_df = spark.range(0, 100000000).toDF("id")

samll_df = spark.createDataFrame([(1,"manish"),(2,'subham'),(3,'prateek')],["id",'name'])

result_df = large_df.join(broadcast(samll_df), large_df.id == samll_df.id)

result_df.show()

# spark.stop()

+---+---+-------+
| id| id|   name|
+---+---+-------+
|  1|  1| manish|
|  2|  2| subham|
|  3|  3|prateek|
+---+---+-------+

## caching

Problem Statement: Repeated operations on the same DataFrame can lead to redundant computation.

Solution: Cache the DataFrame to reuse it without recomputing.

In [ ]:
df = spark.range(0, 100000000).toDF("id")
transformed_df = df.withColumn("id2", df['id']+1)

transformed_df.cache()
transformed_df.count()

transformed_df.show()

+---+---+
| id|id2|
+---+---+
|  0|  1|
|  1|  2|
|  2|  3|
|  3|  4|
|  4|  5|
|  5|  6|
|  6|  7|
|  7|  8|
|  8|  9|
|  9| 10|
| 10| 11|
| 11| 12|
| 12| 13|
| 13| 14|
| 14| 15|
| 15| 16|
| 16| 17|
| 17| 18|
| 18| 19|
| 19| 20|
+---+---+
only showing top 20 rows

In [ ]:
transformed_df.count()

100000000

In [ ]:
from pyspark.sql import SparkSession
import time

# Initialize Spark session
spark = SparkSession.builder.appName("CachingExample").getOrCreate()

# Create a large DataFrame
df = spark.range(0, 100000000).toDF("id")

# Perform some transformations
transformed_df = df.withColumn("id2", df["id"] + 1)

# Measure time for the first action without caching
start_time = time.time()
transformed_df.count()
print(f"Count without cache: {time.time() - start_time} seconds")

# Measure time for the second action without caching
start_time = time.time()
transformed_df.show()
print(f"Show without cache: {time.time() - start_time} seconds")

# Stop the Spark session
spark.stop()

Count without cache: 0.9879655838012695 seconds
+---+---+
| id|id2|
+---+---+
|  0|  1|
|  1|  2|
|  2|  3|
|  3|  4|
|  4|  5|
|  5|  6|
|  6|  7|
|  7|  8|
|  8|  9|
|  9| 10|
| 10| 11|
| 11| 12|
| 12| 13|
| 13| 14|
| 14| 15|
| 15| 16|
| 16| 17|
| 17| 18|
| 18| 19|
| 19| 20|
+---+---+
only showing top 20 rows

Show without cache: 0.19014239311218262 seconds

#### with cache

In [ ]:
from pyspark.sql import SparkSession
import time

# Initialize Spark session
spark = SparkSession.builder.appName("CachingExample").getOrCreate()

# Create a large DataFrame
df = spark.range(0, 100000000).toDF("id")

# Perform some transformations
transformed_df = df.withColumn("id2", df["id"] + 1)

# Cache the DataFrame
transformed_df.cache()

# Measure time for the first action with caching
start_time = time.time()
transformed_df.count()
print(f"Count with cache: {time.time() - start_time} seconds")

# Measure time for the second action with caching
start_time = time.time()
transformed_df.show()
print(f"Show with cache: {time.time() - start_time} seconds")

# Stop the Spark session
# spark.stop()

Count with cache: 82.86911225318909 seconds
+---+---+
| id|id2|
+---+---+
|  0|  1|
|  1|  2|
|  2|  3|
|  3|  4|
|  4|  5|
|  5|  6|
|  6|  7|
|  7|  8|
|  8|  9|
|  9| 10|
| 10| 11|
| 11| 12|
| 12| 13|
| 13| 14|
| 14| 15|
| 15| 16|
| 16| 17|
| 17| 18|
| 18| 19|
| 19| 20|
+---+---+
only showing top 20 rows

Show with cache: 0.5547969341278076 seconds

In [ ]:
# Measure time for the first action with caching
start_time = time.time()
transformed_df.count()
print(f"Count with cache: {time.time() - start_time} seconds")

# Measure time for the second action with caching
start_time = time.time()
# transformed_df.show()
print(f"Show with cache: {time.time() - start_time} seconds")

Count with cache: 0.86226487159729 seconds
Show with cache: 8.416175842285156e-05 seconds

## Data Serialization

Problem Statement: Inefficient serialization formats can lead to slow data processing.

Solution: Use efficient serialization formats like Parquet or ORC.

In [ ]:
from pyspark.sql import SparkSession

# Initialize Spark session
spark = SparkSession.builder.appName("SerializationExample").getOrCreate()

# Create DataFrame
df = spark.range(0, 1000000).toDF("id")

# Write DataFrame in Parquet format
df.write.parquet("path/to/save/parquet")

# Read DataFrame in Parquet format
parquet_df = spark.read.parquet("path/to/save/parquet")

# Perform actions
parquet_df.show()

+------+
|    id|
+------+
|500000|
|500001|
|500002|
|500003|
|500004|
|500005|
|500006|
|500007|
|500008|
|500009|
|500010|
|500011|
|500012|
|500013|
|500014|
|500015|
|500016|
|500017|
|500018|
|500019|
+------+
only showing top 20 rows

## Column Prining

Problem Statement: Processing unnecessary columns can lead to increased memory and CPU usage.

Solution: Select only the columns you need.

In [ ]:
from pyspark.sql import SparkSession

# Initialize Spark session
spark = SparkSession.builder.appName("ColumnPruningExample").getOrCreate()

# Read data and select only necessary columns
df = spark.read.option("inferSchema", "true").parquet("path/to/save/parquet").select("id")
# file save by above code has been read by this code


# Perform actions
df.show()

+------+
|    id|
+------+
|500000|
|500001|
|500002|
|500003|
|500004|
|500005|
|500006|
|500007|
|500008|
|500009|
|500010|
|500011|
|500012|
|500013|
|500014|
|500015|
|500016|
|500017|
|500018|
|500019|
+------+
only showing top 20 rows

## Partitioning

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
import time

# Initialize Spark session
spark = SparkSession.builder.appName("PartitioningExample").getOrCreate()

# Create a sample DataFrame with sales data
data = [(1, '2023-01-01', 'A', 100),
        (2, '2023-01-02', 'B', 200),
        (3, '2023-01-03', 'A', 300),
        (4, '2023-01-04', 'B', 400),
        (5, '2023-01-05', 'A', 500),
        (6, '2023-01-06', 'B', 600),
        (7, '2023-01-07', 'A', 700),
        (8, '2023-01-08', 'B', 800)]

columns = ["id", "date", "category", "amount"]

df = spark.createDataFrame(data, columns)
df.show()

+---+----------+--------+------+
| id|      date|category|amount|
+---+----------+--------+------+
|  1|2023-01-01|       A|   100|
|  2|2023-01-02|       B|   200|
|  3|2023-01-03|       A|   300|
|  4|2023-01-04|       B|   400|
|  5|2023-01-05|       A|   500|
|  6|2023-01-06|       B|   600|
|  7|2023-01-07|       A|   700|
|  8|2023-01-08|       B|   800|
+---+----------+--------+------+

### without partitioning

In [ ]:
# Measure time for aggregation without partitioning
start_time = time.time()
result_df = df.groupBy("category").sum("amount")
result_df.show()
print(f"Aggregation without partitioning: {time.time() - start_time} seconds")

+--------+-----------+
|category|sum(amount)|
+--------+-----------+
|       B|       2000|
|       A|       1600|
+--------+-----------+

Aggregation without partitioning: 1.263075828552246 seconds

#### with partitioning

In [ ]:
# Repartition the DataFrame by category
partitioned_df = df.repartition("category")

# Measure time for aggregation with partitioning
start_time = time.time()
partitioned_result_df = partitioned_df.groupBy("category").sum("amount")
partitioned_result_df.show()
print(f"Aggregation with partitioning: {time.time() - start_time} seconds")

+--------+-----------+
|category|sum(amount)|
+--------+-----------+
|       B|       2000|
|       A|       1600|
+--------+-----------+

Aggregation with partitioning: 0.6715278625488281 seconds

### Other Example

In [ ]:
from pyspark.sql import SparkSession
import time

# Initialize Spark session
spark = SparkSession.builder.appName("PartitioningJoinExample").getOrCreate()

# Sample customer data
customer_data = [(1, 'Alice'),
                 (2, 'Bob'),
                 (3, 'Charlie'),
                 (4, 'David'),
                 (5, 'Eve'),
                 (6, 'Frank'),
                 (7, 'Grace'),
                 (8, 'Heidi')]

customer_columns = ["customer_id", "name"]

customers_df = spark.createDataFrame(customer_data, customer_columns)

# Sample order data
order_data = [(1, '2023-01-01', 100),
              (2, '2023-01-02', 150),
              (1, '2023-01-03', 200),
              (3, '2023-01-04', 250),
              (2, '2023-01-05', 300),
              (4, '2023-01-06', 350),
              (5, '2023-01-07', 400),
              (3, '2023-01-08', 450),
              (6, '2023-01-09', 500),
              (7, '2023-01-10', 550),
              (8, '2023-01-11', 600)]

order_columns = ["customer_id", "order_date", "amount"]

orders_df = spark.createDataFrame(order_data, order_columns)

In [ ]:
# Measure time for join without partitioning
start_time = time.time()
joined_df = customers_df.join(orders_df, "customer_id")
joined_df.show()
print(f"Join without partitioning: {time.time() - start_time} seconds")

+-----------+-------+----------+------+
|customer_id|   name|order_date|amount|
+-----------+-------+----------+------+
|          1|  Alice|2023-01-01|   100|
|          1|  Alice|2023-01-03|   200|
|          2|    Bob|2023-01-02|   150|
|          2|    Bob|2023-01-05|   300|
|          3|Charlie|2023-01-04|   250|
|          3|Charlie|2023-01-08|   450|
|          4|  David|2023-01-06|   350|
|          5|    Eve|2023-01-07|   400|
|          6|  Frank|2023-01-09|   500|
|          7|  Grace|2023-01-10|   550|
|          8|  Heidi|2023-01-11|   600|
+-----------+-------+----------+------+

Join without partitioning: 2.039985418319702 seconds

In [ ]:
# Repartition both DataFrames by customer_id
partitioned_customers_df = customers_df.repartition("customer_id")
partitioned_orders_df = orders_df.repartition("customer_id")

# Measure time for join with partitioning
start_time = time.time()
partitioned_joined_df = partitioned_customers_df.join(partitioned_orders_df, "customer_id")
partitioned_joined_df.show()
print(f"Join with partitioning: {time.time() - start_time} seconds")

+-----------+-------+----------+------+
|customer_id|   name|order_date|amount|
+-----------+-------+----------+------+
|          1|  Alice|2023-01-01|   100|
|          1|  Alice|2023-01-03|   200|
|          2|    Bob|2023-01-02|   150|
|          2|    Bob|2023-01-05|   300|
|          3|Charlie|2023-01-04|   250|
|          3|Charlie|2023-01-08|   450|
|          4|  David|2023-01-06|   350|
|          5|    Eve|2023-01-07|   400|
|          6|  Frank|2023-01-09|   500|
|          7|  Grace|2023-01-10|   550|
|          8|  Heidi|2023-01-11|   600|
+-----------+-------+----------+------+

Join with partitioning: 0.8306550979614258 seconds

# Persist data in local disk

In [ ]:
# How to cache data in memory
df_from_csv.cache()

# How to persist data in local disk
df_from_csv.persist(storageLevel=StorageLevel.DISK_ONLY)

# Custom Transformation

In [ ]:
# Define a python function that operates on pySpark DataFrames
def get_discounted_price(df):
    return df.withColumn("discounted_price", \
                          df.price - (df.price * df.discount) / 100)

# Evoke the transformation
df_discounted = df_from_csv.transfrom(get_discounted_price)

In [ ]:
# prompt: what are the optimization methods that has been used in pyspark write the code for that

# Caching: Persist frequently used DataFrames in memory for faster access.
df.cache()
# or
df.persist(pyspark.StorageLevel.MEMORY_AND_DISK)  # Persist to memory and disk

# Repartitioning: Optimize data distribution across partitions for parallel processing.
optimal_partitions = df.rdd.getNumPartitions()  # Calculate optimal number of partitions
df_repartitioned = df.repartition(optimal_partitions)

# Broadcast Joins: Broadcast smaller DataFrames to all executors for efficient joins.
small_df = spark.read. ...  # Load the smaller DataFrame
small_df.broadcast().join(large_df, "join_column")

# Predicate Pushdown: Push down filters to the data source for early filtering.
df_filtered = df.filter(col("column_name") > 10)  # Filter applied at the source if supported

# Columnar Formats: Use columnar formats like Parquet for efficient data storage and retrieval.
df.write.parquet("path/to/parquet/file")

# Code Generation: Enable code generation for optimized query execution.
spark.conf.set("spark.sql.codegen.wholeStage", "true")

# Adaptive Query Execution (AQE): Allow Spark to dynamically adjust query plans based on runtime statistics.
spark.conf.set("spark.sql.adaptive.enabled", "true")