<a href="https://colab.research.google.com/github/manish7065/pyspark_practice/blob/master/sql_complex_querry.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hi")

In [ ]:
# prompt: write a code to read tab seperate csv file using pyspark to create data frame

!pip install pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("ReadTabCSV").getOrCreate()

df = spark.read.csv("path/to/your/file.csv", sep="\t", header=True, inferSchema=True)

# Show the DataFrame
df.show()

In [ ]:
employee_id name    experience_years
1   raam	3
2	john	2
3	joe		3
4	thomas	2

In [ ]:
!pip install pyspark

In [ ]:
# prompt: write a code to create df from above data as csv

from pyspark.sql import SparkSession
print("hi")

# !pip install pyspark

spark = SparkSession.builder.appName("ReadTabCSV").getOrCreate()

data = [(1, "raam", 3), (2, "john", 2), (3, "joe", 3), (4, "thomas", 2)]
columns = ["employee_id", "name", "experience_years"]
df = spark.createDataFrame(data, columns)

# Show the DataFrame
df.show()

# Write the DataFrame to a CSV file
df.write.csv("output.csv", header=True, mode="overwrite")

In [ ]:
# prompt: similarly create the df using
# Project_id  employee_id
# 1   1
# 1	2
# 1	3
# 2	1
# 2	4

data = [(1, 1), (1, 2), (1, 3), (2, 1), (2, 4)]
columns = ["Project_id", "employee_id"]
proj_df = spark.createDataFrame(data, columns)

# Show the DataFrame
proj_df.show()

In [ ]:
df.createOrReplaceTempView("employee")

In [ ]:
proj_df.createOrReplaceTempView("project")

In [ ]:
querry = """
SELECT e.name, p.Project_id
FROM employee e p
JOIN project p ON employee.employee_id = project.employee_id
group by  p.Project_id
having max(e.experience_years)
"""

spark.sql(querry).show()

In [ ]:
# prompt: write a code to fetch the max experienced employee project wise

df.createOrReplaceTempView("employee")
proj_df.createOrReplaceTempView("project")
query = """
SELECT e.name, p.Project_id
FROM employee e
JOIN project p ON e.employee_id = p.employee_id
WHERE (p.Project_id, e.experience_years) IN (
    SELECT Project_id, MAX(experience_years)
    FROM employee e
    JOIN project p ON e.employee_id = p.employee_id
    GROUP BY Project_id
)
"""

spark.sql(query).show()

In [ ]:
# prompt: why its giving 3 output there should have to be only one max experienced employee project wise

from pyspark.sql import SparkSession
print("hi")

!pip install pyspark

spark = SparkSession.builder.appName("ReadTabCSV").getOrCreate()

data = [(1, "raam", 3), (2, "john", 2), (3, "joe", 3), (4, "thomas", 2)]
columns = ["employee_id", "name", "experience_years"]
df = spark.createDataFrame(data, columns)

# Show the DataFrame
df.show()

# Write the DataFrame to a CSV file
df.write.csv("output.csv", header=True, mode="overwrite")


data = [(1, 1), (1, 2), (1, 3), (2, 1), (2, 4)]
columns = ["Project_id", "employee_id"]
proj_df = spark.createDataFrame(data, columns)

# Show the DataFrame
proj_df.show()

df.createOrReplaceTempView("employee")
proj_df.createOrReplaceTempView("project")

# Modified Query to get only one max experienced employee project wise
query = """
SELECT e.name, p.Project_id
FROM employee e
JOIN project p ON e.employee_id = p.employee_id
WHERE (p.Project_id, e.experience_years) IN (
    SELECT Project_id, MAX(experience_years)
    FROM employee e
    JOIN project p ON e.employee_id = p.employee_id
    GROUP BY Project_id
)
"""

result_df = spark.sql(query)

# To get only one row per project, we can use distinct()
distinct_result_df = result_df.distinct()

distinct_result_df.show()

In [ ]:
# prompt: write a code to fetch the max experienced employee project wise

df.createOrReplaceTempView("employee")
proj_df.createOrReplaceTempView("project")
query = """
SELECT p.project_id, e.name
FROM project p
JOIN employee e ON e.employee_id = p.employee_id
WHERE (p.project_id, e.experience_years) IN (
    SELECT p2.project_id, MAX(e2.experience_years)
    FROM project p2
    JOIN employee e2 ON e2.employee_id = p2.employee_id
    GROUP BY p2.project_id
);

"""

spark.sql(query).show()

In [ ]:
querr = """
select e.name, p.project_id from  employee e
join project p on p.employee_id = e.employee_id
where (p.project_id, e.experience_years) in (
    select
        p2.project_id,
        max(e2.experience_years)
    from project p2
    join employee e2 on e2.employee_id = p2.employee_id
    group by p2.project_id
)
"""

spark.sql(querr).show()

In [ ]:
query = """
SELECT
    p.project_id,
    e.employee_id,
    e.name,
    e.experience_years
FROM
    project p
JOIN
    employee e ON p.employee_id = e.employee_id
WHERE
    (p.project_id, e.experience_years) IN (
        SELECT
            project_id,
            MAX(e2.experience_years)
        FROM
            project p2
        JOIN
            employee e2 ON p2.employee_id = e2.employee_id
        GROUP BY
            p2.project_id
    );

"""

spark.sql(query).show()