In [1]:
from pyspark.sql import SparkSession
# spark = SparkSession.builder.appName('RDD to DF').getOrCreate()
spark = SparkSession.builder.appName("demo").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/07/29 12:53:15 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

# Cretating DF from RDD

In [2]:
# RDD to DF incorporating on top of rdds

# from pyspark.sql import SparkSession

# spark = SparkSession.builder.appName('RDD to DF').master('Local[*]').getOrCreate()

employee = [('manish',20000),('suresh',23000),('mahesh',430000)]

rdd = spark.sparkContext.parallelize(employee)

# for emp in rdd.collect():
#     print(emp)


df = rdd.toDF()

df.show()

+------+------+
|    _1|    _2|
+------+------+
|manish| 20000|
|suresh| 23000|
|mahesh|430000|
+------+------+

In [3]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('RDD to DF using createDataFrame').master('Local[*]').getOrCreate()

employee = [('manish',20000),('suresh',23000),('mahesh',430000)]

rdd = spark.sparkContext.parallelize(employee)

empdf = spark.createDataFrame(rdd,schema=['name','salary'])
empdf.show()

+------+------+
|  name|salary|
+------+------+
|manish| 20000|
|suresh| 23000|
|mahesh|430000|
+------+------+

In [4]:
# By Defining Schema

from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('RDD to DF with schema').master('Local[*]').getOrCreate()

employee = [('manish',20000),('suresh',23000),('mahesh',430000)]

rdd = spark.sparkContext.parallelize(employee)

empdf = spark.createDataFrame(rdd,schema=['name','salary'])
empdf.show()

+------+------+
|  name|salary|
+------+------+
|manish| 20000|
|suresh| 23000|
|mahesh|430000|
+------+------+

# Creating Data Frame

## From existing file

In [10]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Demo").master("local[*]").getOrCreate()

df =spark.read.csv("../data/sample.txt")
df.printSchema()
df.show()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)

+-------+--------+----------+---+--------------------+
|    _c0|     _c1|       _c2|_c3|                 _c4|
+-------+--------+----------+---+--------------------+
|4000001|Kristina|     Chung| 55|               Pilot|
|4000002|   Paige|      Chen| 74|             Teacher|
|4000003|  Sherri|    Melton| 34|         Firefighter|
|4000004|Gretchen|      Hill| 66|Computer hardware...|
|4000005|   Karen|   Puckett| 74|              Lawyer|
|4000006| Patrick|      Song| 42|        Veterinarian|
|4000007|   Elsie|  Hamilton| 43|               Pilot|
|4000008|   Hazel|    Bender| 63|           Carpenter|
|4000009| Malcolm|    Wagner| 39|              Artist|
|4000010| Dolores|McLaughlin| 60|              Writer|
+-------+--------+----------+---+--------------------+

## Custom Schema

In [9]:
from pyspark.sql.types import StructField,StructType,StringType,IntegerType

custom_schema = StructType([
    StructField('salary',IntegerType(), True),
    StructField('f_name',StringType(), True),
    StructField('l_name',StringType(), True),
    StructField('age',IntegerType(), True),
    StructField('job',StringType(), True),
])

df = spark.read.schema(custom_schema).csv("../data/sample.txt")
df.printSchema()
df.show()

root
 |-- salary: integer (nullable = true)
 |-- f_name: string (nullable = true)
 |-- l_name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- job: string (nullable = true)

+-------+--------+----------+---+--------------------+
| salary|  f_name|    l_name|age|                 job|
+-------+--------+----------+---+--------------------+
|4000001|Kristina|     Chung| 55|               Pilot|
|4000002|   Paige|      Chen| 74|             Teacher|
|4000003|  Sherri|    Melton| 34|         Firefighter|
|4000004|Gretchen|      Hill| 66|Computer hardware...|
|4000005|   Karen|   Puckett| 74|              Lawyer|
|4000006| Patrick|      Song| 42|        Veterinarian|
|4000007|   Elsie|  Hamilton| 43|               Pilot|
|4000008|   Hazel|    Bender| 63|           Carpenter|
|4000009| Malcolm|    Wagner| 39|              Artist|
|4000010| Dolores|McLaughlin| 60|              Writer|
+-------+--------+----------+---+--------------------+

## Reading schema from data

In [4]:
df = spark.read.csv("../data/samplewithheader.csv")
df.show()

+-------+--------+----------+---+--------------------+
|    _c0|     _c1|       _c2|_c3|                 _c4|
+-------+--------+----------+---+--------------------+
| salary|  f_name|    l_name|age|                 job|
|4000001|Kristina|     Chung| 55|               Pilot|
|4000002|   Paige|      Chen| 74|             Teacher|
|4000003|  Sherri|    Melton| 34|         Firefighter|
|4000004|Gretchen|      Hill| 66|Computer hardware...|
|4000005|   Karen|   Puckett| 74|              Lawyer|
|4000006| Patrick|      Song| 42|        Veterinarian|
|4000007|   Elsie|  Hamilton| 43|               Pilot|
|4000008|   Hazel|    Bender| 63|           Carpenter|
|4000009| Malcolm|    Wagner| 39|              Artist|
|4000010| Dolores|McLaughlin| 60|              Writer|
+-------+--------+----------+---+--------------------+

In [7]:
# Fetching header
df = spark.read.option("header", True).csv("../data/samplewithheader.csv")
df.printSchema()
df.show()

root
 |-- salary: string (nullable = true)
 |-- f_name: string (nullable = true)
 |-- l_name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- job: string (nullable = true)

+-------+--------+----------+---+--------------------+
| salary|  f_name|    l_name|age|                 job|
+-------+--------+----------+---+--------------------+
|4000001|Kristina|     Chung| 55|               Pilot|
|4000002|   Paige|      Chen| 74|             Teacher|
|4000003|  Sherri|    Melton| 34|         Firefighter|
|4000004|Gretchen|      Hill| 66|Computer hardware...|
|4000005|   Karen|   Puckett| 74|              Lawyer|
|4000006| Patrick|      Song| 42|        Veterinarian|
|4000007|   Elsie|  Hamilton| 43|               Pilot|
|4000008|   Hazel|    Bender| 63|           Carpenter|
|4000009| Malcolm|    Wagner| 39|              Artist|
|4000010| Dolores|McLaughlin| 60|              Writer|
+-------+--------+----------+---+--------------------+

Here column name is fetching but not infering the schema i.e age and salary column is of type string not integer.

In [9]:
df = spark.read.option("header", "true").option("inferSchema", "true").csv("../data/samplewithheader.csv")
df.printSchema()
df.show()

root
 |-- salary: integer (nullable = true)
 |-- f_name: string (nullable = true)
 |-- l_name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- job: string (nullable = true)

+-------+--------+----------+---+--------------------+
| salary|  f_name|    l_name|age|                 job|
+-------+--------+----------+---+--------------------+
|4000001|Kristina|     Chung| 55|               Pilot|
|4000002|   Paige|      Chen| 74|             Teacher|
|4000003|  Sherri|    Melton| 34|         Firefighter|
|4000004|Gretchen|      Hill| 66|Computer hardware...|
|4000005|   Karen|   Puckett| 74|              Lawyer|
|4000006| Patrick|      Song| 42|        Veterinarian|
|4000007|   Elsie|  Hamilton| 43|               Pilot|
|4000008|   Hazel|    Bender| 63|           Carpenter|
|4000009| Malcolm|    Wagner| 39|              Artist|
|4000010| Dolores|McLaughlin| 60|              Writer|
+-------+--------+----------+---+--------------------+

Here age and salary column is in interger type

## Integration with hive and spark SQL

In [ ]:
from pyspark import SparkContext,SparkConf
from pyexpat.sql import SparkSession,HiveContext # Hive is not installed here but after installation we can perform this code

spark = SparkSession.Builder.appName("demo").enableHiveSupport().getOrCreate()

df_hive = spark.sql("select * from my_table")
df_hive.show()